{"filter":false,"title":".gitignore","tooltip":"/Task_In_Out/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":41,"column":0},"end":{"row":41,"column":2},"action":"remove","lines":["/."],"id":2},{"start":{"row":41,"column":0},"end":{"row":41,"column":5},"action":"insert","lines":["/.env"]}]]},"ace":{"folds":[],"scrolltop":458,"scrollleft":0,"selection":{"start":{"row":42,"column":0},"end":{"row":42,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":27,"state":"start","mode":"ace/mode/ini"}},"timestamp":1658327771745,"hash":"df81339b73d34a03872fd41bf3bb533f28a692f9"}